<div class="container-fluid" onload="">
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.23/angular.min.js"></script>
    <script src="chat-page.controller.js"></script>
    <div class="row">
        <div class="col-3">
          <!-- <p>{{roomitems}}</p>   -->
          <!-- <div *ngFor="let item of roomitems | keyvalue">
            {{item.key}}:{{item.value}}
              
          </div> -->
          <p>{{currentuser}}</p>
          <div  style="border:solid;border-color: gray;" >
            <h3>Chats</h3>
            <div *ngFor="let item of room_items | keyvalue">
              <div style="border:solid" id={{item.value.room_id}} (click)="getMessages(item.value.room_id);setCurrentRoomName(item.value.room_name || item.value.name)">
                {{item.value.room_name || item.value.name }}
              </div>
              
            </div>
          </div>
          
        
          <!-- <iframe id=rooms  width="100%" height="500px">
           
          </iframe> -->
        </div>
        <div class="col-9" >
          <!-- <iframe id=chatbox height="100%"width="100%">
            <body> -->
            <div style="background-color: whitesmoke;padding-left: 25px;"width="100%" heigh="100px">
              <h2>{{room_name}}</h2>
            </div>
            <div #chatbox style="height: 500px;overflow: auto;border:solid">
              <div *ngFor="let msg of room_messages | keyvalue">
                <ng-template [ngIf]="msg.value.sender_id===currentuser" [ngIfElse]="others">
                  <div style="text-align:right"> 
                    <!-- <div>{{msg.value.name}}</div> -->
                    <div style="border-radius:5px;padding:15px;background-color:lightblue;display:inline-block">
                        <p> {{msg.value.message}}<br> {{msg.value.created_at|date:'short'}}</p>
                    </div>
                  </div>
                </ng-template>
                
                <ng-template #others>
                  <div style="text-align:left"> 
                    <div>{{msg.value.name}}</div>
                    <div style="border-radius:5px;padding:15px;background-color:gray;width:fit-content">
                      <p> {{msg.value.message}}<br> {{msg.value.created_at|date:'short'}}</p>
                    </div>
                  </div>
                </ng-template>           
                <br>
              </div>
            </div>
              <!-- <div *ngFor="let msg of room_messages2 | keyvalue">
                <ng-template [ngIf]="msg.value.sender_id===currentuser" [ngIfElse]="others">
                  <div style="text-align:right"> 
                    <div style="border-radius:5px;padding:15px;background-color:lightblue;display:inline-block">
                        <p> {{msg.value.message}}<br> {{msg.value.created_at|date:'short'}}</p>
                    </div>
                  </div>
                </ng-template>
                
                <ng-template #others>
                  <div style="text-align:left"> 
                    <div>{{msg.value.name}}</div>
                    <div style="border-radius:5px;padding:15px;background-color:gray;width:fit-content">
                      <p> {{msg.value.message}}<br> {{msg.value.created_at|date:'short'}}</p>
                    </div>
                  </div>
                </ng-template>           
                <br>
              </div> -->

              
            <!-- </body>
            
          </iframe>           -->
        </div>
    </div>
    <form [formGroup]="msgForm" (ngSubmit)="onSubmitMessage()">
      <label>
        Message
        <!-- <input type="text" formControlName="msg"> -->
        <textarea formControlName="message"></textarea>
      </label>
      <label>
        <!-- <input type="text" formControlName="room_id" [value]="currentroom"  hidden> -->
        <!-- <input type="text" formControlName="sender_id" [value]=currentuser  hidden> -->
      </label>
      <button type="submit" [disabled]="!msgForm.valid">Submit</button>
    
    </form>
    
    
  
  
</div>

  <!-- Modal -->
