<div class="container-fluid" onload="">
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.23/angular.min.js"></script>
    <script src="chat-page.controller.js"></script>
    <div class="row">
        <div class="col-3">
          <!-- <p>{{roomitems}}</p>   -->
          <!-- <div *ngFor="let item of roomitems | keyvalue">mu
            {{item.key}}:{{item.value}}
              
          </div> -->
          
          <div  style="min-height:90vh;border:solid;border-color: gray;" >
            <h3>Chats</h3>
            <div  *ngFor="let item of room_items | keyvalue;">
              <div #roomitem style="border:solid"  id={{item.value.room_id}} (click)="getMessages(item.value.room_id);setCurrentRoomName(item.value.room_name || item.value.name)">
                  {{item.value.room_name || item.value.name }}
              </div>
              
            </div>
          </div>
        </div>
        <div class="col-9" >
            <div style="background-color: whitesmoke;padding-left: 25px;"width="100%" heigh="100px">
              <h2>{{room_name}}</h2>
            </div>
            <div #chatbox style="height:700px ;overflow: auto;border:solid">
              <div *ngFor="let msg of room_messages | keyvalue:returnZero"  >
                <ng-template [ngIf]="msg.value.sender_id===currentuser" [ngIfElse]="others">
                  <div style="text-align:right"> 
                    <div style="border-radius:5px;padding:15px;background-color:lightblue;display:inline-block">
                        <p> {{msg.value.message}}<br> {{msg.value.created_at|date:'short'}}</p>
                    </div>
                  </div>
                </ng-template>
                
                <ng-template #others>
                  <div style="text-align:left"> 
                    <div>{{msg.value.name}}</div>
                    <div style="border-radius:5px;padding:15px;background-color:#808080;width:fit-content">
                      <p> {{msg.value.message}}<br> {{msg.value.created_at|date:'short'}}</p>
                    </div>
                  </div>
                </ng-template>           
                <br>
              </div>
            </div>
            <div class="row">
              <div class="col-md-12">
                <form [formGroup]="msgForm" (ngSubmit)="onSubmitMessage()" class="form-inline">
                  <div class="input-group flex-fill">
                    <input class="form-control" formControlName="message">
                    <div class="input-group">
                      <button type="submit" [disabled]="!msgForm.valid">Submit</button>
                    </div>
                  </div>
                </form>

              </div>

            </div>

        </div>
    </div>
    
    
    
  
  
</div>

  <!-- Modal -->
