<div class="container-fluid" onload="">
    <div class="row">
        <div class="col-3">
          <!-- <p>{{roomitems}}</p>   -->
          <!-- <div *ngFor="let item of roomitems | keyvalue">
            {{item.key}}:{{item.value}}
              
          </div> -->
          
          <div *ngFor="let item of roomitems | keyvalue">
            <div style="border:solid" id={{item.value.room_id}} (click)="getMessages(item.value.room_id)">
              {{item.value.room_name || item.value.name }}
            </div>
            
          </div>
          <iframe id=rooms  width="100%" height="500px">
            <body>
              
            </body>
          </iframe>
        </div>
        <div class="col-9">
            <iframe id=chatbox width="100%" height="500px"></iframe>
        </div>
    </div>
    <form [formGroup]="msgForm" (ngSubmit)="onSubmitMessage()">
      <label>
        Message
        <!-- <input type="text" formControlName="msg"> -->
        <textarea formControlName="msg"></textarea>
      </label>
      <label>
        Room ID:
        <input type="text" formControlName="room_id"  value="45">
      </label>
      <button type="submit" [disabled]="!msgForm.valid">Submit</button>
    
    </form>
  
  
</div>

  <!-- Modal -->
