<div class="container">
    <div class="row">
        <div class="col-sm-2 py-2">
            <button class="btn btn-primary btn-block">
                Create new
            </button>
            <ul class="nav flex-column">
                <ng-container>
                    <li class="nav-item">
                        <a routerLink="./" class="nav-link">Status</a>
                    </li>
                </ng-container>
                <div class="dropdown-divider"></div>
                <ng-container *ngFor="let category of categories">
                    <li class="nav-item">
                        <a routerLink="./" (click)="selectCategory(category.id)" class="nav-link">{{category.category_name}}</a>
                    </li>
                </ng-container>
                <!-- <li class="nav-item">
                    <a href="#" class="nav-link">Link 2</a>
                </li>
                <li class="nav-item">
                    <a href="#" class="nav-link">Link 3</a>
                </li>
                <li class="nav-item">
                    <a href="#" class="nav-link">Link 4</a>
                </li> -->
            </ul>
        </div>
        <div class="col-sm-10">
            <div class="jumbotron">
                <h3>Community Name</h3>
            </div>
            <nodaq-card-list 
                [items]="posts" 
                [namespace]="['community/post']"
                [label]="['This community']"
                [isLoading]="isLoading"
            ></nodaq-card-list>
        </div>
    </div>
</div>