/* You can add global styles to this file, and also import other style files */

$primary: #28B5D6 ;
$secondary:     #FF532A ;
$success:       #00C11A;
$info:          #2994FF;
$warning:       #FF9100;
$danger:        #D62828;
$light:         #C8C8C8;
$dark:          #212121;

$theme-colors: (
    "primary":    $primary,
    "secondary":  $secondary,
    "success":    $success,
    "info":       $info,
    "warning":    $warning,
    "danger":     $danger,
    "light":      $light,
    "dark":       $dark
);


/* Importing Bootstrap SCSS file. */
@import '~bootstrap/scss/bootstrap';


.container{
    max-width: 85%;
}

